body {
    background-color: black;
    text-align: center;
    
}



p {
color: #fffdfa;
font-size: 200%;
text-align: center;
justify-content: space-around;
} 



#navbar 
 {
    height: 30px;
    background-color: forestgreen;
    border-color: forestgreen;
    display: flex;
    justify-content: space-around;
    align-items: start;
}


#navbar a
{
font-size: 25px;
color: black;
text-decoration: none;
}

#navbar a:hover
{
color: #fffdfa;}






@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
        padding: 10px;
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        padding: 0;
        list-style: none;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .content {
        text-align: center;
    }

    .image {
        width: 200px; /* Make images responsive */
        height: auto;
    }

    button {
        width: 100%;
        padding: 10px;
        font-size: 18px;
    }
}